.FooterDiv{
    height: 70vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.8);
}
.MainFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.2px solid black;
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
}
.BottomFooter{
    padding: 0;
    margin: 0;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: #69696f;
}
.LeftFooter{

    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
}
.RightFooter{
    height: 100%;
    width: 33%;
    background-image: url('../../../Assets/worldmap.jfif');;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
}
.Footer{
    height: 80%;
    width: 35%;
    margin-top: 5%;
    margin-right: 5%;
}
.Footer label{
    justify-content: start;
    margin-left: 25%;
    color: #FFFFFF;
}
.Footer ul{
    color: #69696f;
    height: 100%;
    width: 100%;
    list-style: none;
}
.Footer ul li{
height: 10%;
}
.BottomLeft{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #69696f;
}
.BottomCenter{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.BottomCenter ul{
    color: #69696f;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.BottomCenter ul li{
    font-size: 1em;
    align-self: center;
    margin-left: 1%;
}
.BottomRight{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.Icon{
    background-size: 70% 70%;
    height: 70%;
    width: 22%;
    margin-right: 2%;
    background-repeat: no-repeat;
    background-position: center;
}
.Icon1{
    background-image: url('../../../Assets/SocialMediaIcons/twit1.JPG');
}

.Icon2{
    background-image: url('../../../Assets/SocialMediaIcons/insta1.JPG');
}

.Icon3{
    background-image: url('../../../Assets/SocialMediaIcons/face1.JPG');
}

.Icon4{
    background-image: url('../../../Assets/SocialMediaIcons/you1.JPG');
}
